{% extends 'base.html' %}

{% block content %}
    <h2 style="color: #389cbd;">Список рецептов</h2>
    <ul>
        {% for recipe in recipes %}
            <li>
                <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}" width="100">
                <p><strong>Описание:</strong> {{ recipe.description }}</p>
                <p><strong>Примерное время приготовления:</strong> {{ recipe.preparation_time }} минут</p>
                <div id="ingredients{{ recipe.id }}">
                    <p><strong>Ингредиенты:</strong> {{ recipe.ingredients }}</p>
                </div>
                <p><strong>Автор:</strong> {{ recipe.author }}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}