{% extends 'base.html' %}

{% block content %}
    <h2 style="color: #389cbd;">Список рецептов</h2>
    <ul>
        {% for recipe in recipes %}
            <li>
                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" width="100">
                <h3>{{ recipe.title }}</h3>
                <p><strong>Описание:</strong> {{ recipe.description }}</p>
                <button onclick="showIngredients('{{ recipe.ingredients|join:', ' }}')">Показать ингредиенты</button>
                <p><strong>Количество ингредиентов:</strong> {{ recipe.ingredients|length }}</p>
                <p><strong>Примерное время приготовления:</strong> {{ recipe.cooking_time }} минут</p>
            </li>
        {% endfor %}
    </ul>

    <script>
        function showIngredients(ingredients) {
            alert("Ингредиенты: " + ingredients);
        }
    </script>
{% endblock %}
